body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e4dddd;
}

.layout {
  display: grid;
  grid-template-areas:
    "menu"
    "contenido"
    "footer";
}



@media (min-width: 768px) {

  }
}
